html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

/* TODO: Edit the properties below to customize your website! */
body {
  background-color: #10367d;

  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 20pt;
  margin: 20px 50px 30px 50px;
}

p {
  width: 80%;
  text-align: left;
  margin: 10px 50px;
}

img {
  width: 50%;
  max-width: 180px;
  border: 3px solid black;
  border-radius: 50%;
  display: block;
  margin: 10px 30px;
}

.bubble {
  background-color: #ebebeb;
  border-radius: 10px;

  width: 80%;
  padding: 5px 0;
  margin: 50px 0 10px 0;
}

/* Edit me to change the appearance of the button! */
button {
  font-size: 12pt;

  background-color: #b9915f;
  border: none;
  /* for rounded corners */
  border-radius: 5px;

  width: 150px;
  height: 50px;
  margin: 20px 50px;
}

button:hover {
  background-color: #d0e6fd;
  cursor: pointer;
}

/* The camera */
#webcam-container {
  display: flex;
  justify-content: center;
}

/* #webcam-container canvas.active { */
/* border: 25px solid #d0e6fd; */
/* border-radius: 15px 5px 15px 5px; */
/* } */

/* The labels */
#label-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 12pt;

  margin: 25px;
}
